[submodule "3rdparty/libpointmatcher"]
	path = 3rdparty/libpointmatcher
	url = https://github.com/MOLAorg/libpointmatcher.git
[submodule "3rdparty/libnabo"]
	path = 3rdparty/libnabo
	url = https://github.com/MOLAorg/libnabo.git
