[submodule "3rdparty/libpointmatcher"]
	path = 3rdparty/libpointmatcher
	url = https://github.com/ethz-asl/libpointmatcher.git
[submodule "3rdparty/libnabo"]
	path = 3rdparty/libnabo
	url = https://github.com/ethz-asl/libnabo.git
